#myBtn {
    display: none; /* 默认隐藏 */
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: rgb(37, 196, 148); /* 设置背景颜色，你可以设置自己想要的颜色或图片 */
    color: white; /* 文本颜色 */
    cursor: pointer; 
    padding: 10px; 
    border-radius: 10px; /* 圆角 */
}
 
#myBtn:hover {
    background-color: #555; 
}